.bgcategories{
background-color: rgba(28, 28, 28, 0.76) ;
border-radius: 2px;
width: 350px;
padding-left: 15px;
padding-top: 15px;
}


.text1{
text-decoration: none;
text-decoration-line: none;
}

.text1,symbol:hover{
    color: White;
}
